ul {
  list-style-type: none;
  display: inline-block;
  margin-right:165px;
  
  margin-left:100px;
  margin-bottom: 50px;
  box-sizing: border-box;
  
}
li {
  display: inline-block;
  
}
.div {
  margin-left:145px;
  width:32%;
}
.p1 {
  background-color:#808080;
  color:#E5E7EB;
  font-size: 12px;
  padding:70px  70px ;
  margin-right:150px;
  margin-top:23px;
}
.p2 {
  float: right;
  display:inline-block;
}
.signup {
background-color: #3882F6;
  color:white;
  border:2px solid #3882F6;
  border-radius: 5px;
  padding:4px 30px;
  
}


.first {
background-color:#1F2937;
padding-bottom: 90px;
box-sizing: border-box;

}
.headerlogo {
  font-size: 15px;
  color: #F9FAF8;
  font-weight:bold;
}
.di {
  font-size: 30px;
  font-weight: bold;
  padding-right: 140px;
  color:#F9FAF8;
}
.di2 {
  font-size:12px ;
  
  color:#E5E7EB ;
}
.headerlinktext {
  font-size:12px ;
  
  color:#E5E7EB ;
}
.psize {
  font-size: 12px;
  text-align: center;
  margin-top: -12px;
}
.header {
  font-size :15px;
  font-weight:bold;
  color: #1F2937;
  text-align: center;
  padding-top: 20px;
}
.border {
  border: 2px solid #3882F6;
  border-radius:10px;
  width:120px;
  height: 120px;
  
}
.wrap {
  width: 130px;
  padding: 10px;
  display: inline-block;
}
.wrap1 {
  margin-left:180px;
  margin-top: -50px;
  padding-bottom:65px;
}
.quote {
  width: 65%;
  margin-left:200px;
  font-size: 14px;
  font-style: italic;
  font-weight: thin;
  color: #1F2937;
  
}
.third {
  background-color: #E5E7EB;
  padding-top:100px;
  padding-bottom:50px;
}
.cite {
  margin-left:450px;
  font-size: 8px;
  font-weight: bold;

}
.signup1 {
  color:white;
  border:2px solid white;
  border-radius: 6px;
  padding:4px 18px;
  background-color: #3882F6;
  margin-right:80px;
  margin-top:35px
  
}
.f1 {
  float: right;
}
.action {
  margin-left:70px;
  margin-top:30px;
  color: white;
}
.time {
  background-color: #3882F6;
  width:70%;
  margin-left:130px;
  padding-top:10px;
  padding-bottom:30px;
  padding-left:20px;
  border-radius:5px;
  margin-top:70px;
  margin-bottom:70px;
}
.footer {
  text-align: center;
  color: white;
  font-size: 12px;
}
.footer1 {
  background-color: #1F2937;
  padding:5px;
  box-sizing: border-box;
}
.call {
  
  font-weight: bold
}
.yuomen {
  font-size: 11px;
}